$sideBarWidth: 20%;
$areaPadding: $sideBarWidth/4;


* {
    padding: 0;
    margin: 0;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

body {
    background-color: #f4f4f4;
    width: 100wh;
}

.title {
    margin-bottom: 40px;
}

.header {
    background-color: black;
    width: 100wh;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin-bottom: 40px;
}

.rightHeader {
    display: flex;
}

.userStuff {
    margin-left: 30px;
}

.area {
    width: 100%;
    display: flex;
}

.mainArea {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.sideBar {
    width: $sideBarWidth;
}

.changingArea {
    width: 80%;
    padding: 0 $areaPadding;
}

.sideBarElement {
    margin: 0px 0 30px $sideBarWidth;
    display: flex;
    padding: 15px;
    align-items: center;
    border-radius: 20px;
}

.sideBarElement > img {
    margin-right: 15px;
}

.sideBarElement--active {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.testShortCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15pt;
    padding: 15pt;
    font-size: 10pt;
    
}

.testShortCard h2{
    color: white;
    font-size: 15pt;
    font-family: 'bold';
    margin-bottom: 3dvh;
    width: 20dvh;
    height: auto;
    font-family: 'bold';
}

.testShortCard a{
    width: 30dvh;
    font-size: 12pt ;
    margin-bottom: 3pt;
    color: white;
    font-family: 'regular';
    font-family: 'bold';
}

.shortTestBlock{
    display: flex;
    flex-direction: column;
    height: 45dvb;
    justify-content: space-between;
    

}

.shortTestBlock h1{
    font-size: 40pt;
    
}

.shortTestBlock img{
    height: 5dvb;
}

.shortSchedule{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 3dvb;
    padding: 2dvb;
    padding-top: 3dvb;
    width: 38dvb;
    height: auto;
}

.shortSchedule-calendar-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
    
}

.shortSchedule-calendar-title h2{
    font-family: 'bold';
    font-size: 20pt;
}

.shortSchedule-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .shortSchedule-line {
    width: 5px; /* Ширина линии */
    background-color: #FFB800; /* Цвет линии */
    border-radius: 2.5px; /* Радиус для закругления */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
  
  .shortSchedule-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 20px; /* Отступ для содержимого от линии */
    justify-content: space-between;
  }

  .shortSchedule-content h2{
    font-family: 'medium';
  }

  .shortSchedule-content p{
    opacity: 0.5;
    margin-bottom: 2dvb;
    font-family: 'regular';
  }

  .shortSchedule-calendar-arrows{
    display: flex;
    width: 20%;
    justify-content: space-between;
  }

  .shortSchedule-calendar-arrows img{
    height: 3dvb;
  }


  .weekDays {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
  }
  
  .dayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 5px;
    padding: 1.5dvb;
  }
  
  .currentDay {
    background-color: black; 
    color: white;
  }
  
  .dayName {
    font-size: 14px;
    font-family: 'regular';
  }
  
  .dayNumber {
    font-size: 18px;
    margin-top: 10px;
    font-family: 'medium';
  }
  

  .missedLecture{
    display: flex;
    flex-direction: column;
    background-image: url('../images/lectureBack.svg');
    height: 30dvb;
    width: 55dvb;
    background-size: cover; /* Позволяет изображению заполнить весь контейнер, сохраняя его пропорции */
    background-position: center;
    border-radius: 5dvb;
    color: white;
    align-items: start;
    justify-content: space-between;
    padding: 2dvb 5dvb;
    box-shadow: 0px 5px 20px rgba(165,50,209, 0.7), 
  }

  .missedLecture h1{
    margin-top: 5dvb;
    font-family: 'bold';
    font-size: 20pt;
  }

  .missedLecture-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .missedLecture-footer p{
    font-family: 'regular';
  }

  .missedLecture-footer-teacher{
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }

  .missedLecture-footer-teacher p{
    margin-left: 2dvb;
  }

  .missedLecture-footer-teacher-img{
    width: 5dvb; 
    height: 5dvb;
    border-radius: 50%; 
    overflow: hidden; 
    background-image: url('../images/siganov.png'); 
    background-size: cover; 
    background-position: center; 
  }

  .testBlock{
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5dvh;
    justify-content: space-between;
    
    padding: 10pt 20pt;
  }

  .testBlock img{
    margin-left: 25pt;
  }

  .login {
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    width: 100%;
    height: 100vh; /* Используем высоту вьюпорта для полного экрана */
    background: linear-gradient(135deg, #000000, #A532D1, #FFB800);
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 40pt;
    border-radius: 20pt; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавляем тень для лучшего визуального эффекта */
  }
  
  .login-container h2 {
    margin-bottom: 30pt;
    font-family: 'bold';
    font-size: 30pt;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .form-group {
    display: flex;
    flex-direction: column; /* Размещаем метку и поле ввода вертикально */
    width: 100dvh; /* Занимает всю ширину контейнера */
    margin-bottom: 15pt; /* Добавляем отступ снизу */
  }
  
  .form-group label {
    margin-bottom: 10pt;
    font-family: 'medium';
    font-size: 18pt;
  }
  
  .login-container input {
    padding: 10pt; /* Добавляем внутренние отступы */
    border-radius: 30pt; /* Скругленные углы */
    box-sizing: border-box; /* Обеспечиваем учет внутренних отступов и границ */
    border: none;
    box-shadow: 0px 5px 20px rgba(165,50,209, 0.3);
    font-family: 'regular';
  }
  
  .login-container input::placeholder {
    color: #888; /* Серый цвет текста заполнителя */
  }

  .remember-forgot-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем по вертикали */
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin: 10pt 0; /* Отступы между элементами */
  }
  
  .remember-me input {
    margin-right: 5px; /* Уменьшаем расстояние между чекбоксом и текстом */
  }
  
  
  .remember-me label {
    font-family: 'regular';
  }
  
  .login-container button {
    width: 30vh; /* Кнопка занимает всю ширину контейнера */
    padding: 10pt; /* Добавляем внутренние отступы */
    margin: 10pt auto; /* Отступ сверху и снизу */
    background-color: #A532D1; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем границу */
    border-radius: 30pt; /* Скругленные углы */
    cursor: pointer; /* Указатель мыши при наведении */
    font-family: 'bold';
  }
  
  .login-container button:hover {
    background-color: #8b28b1; /* Темнее цвет кнопки при наведении */
  }
  
  .forgot-password {
    color: #A532D1; /* Цвет текста */
  text-decoration: none; /* Убираем подчеркивание */
  font-family: 'regular';
  }
  
  .forgot-password:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении */
  }
  
  .form-registration{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .form-registration p{
    margin-right: 1vh;
    font-family: 'regular';
  }

  .form-registration a {
    color: #A532D1; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    font-family: 'regular';
  }
  

  
  
  

  