.courses > h1 {
    font-family: 'bold';
    font-size: 30pt;
    margin-bottom: 30pt;
}

.courses-list {
    display: flex;
    flex-direction: column;
    
}    

.course-item {
    margin-bottom: 40px;
    background-image: url('../images/courseFon.svg');
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    border-radius: 20pt;
    padding: 30pt;
}

.course-item-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: white;
}

.course-item-text > h2 {
    font-family: 'bold';
    font-size: 25pt;
}

.course-item-text > p {
    font-family: 'regular';
    font-size: 18pt;
}

.blockofcourse:nth-child(even) {
    background: 
        linear-gradient(150deg, #2c2e31, transparent 30%),
        linear-gradient(330deg, #1a1338, transparent 30%),
        linear-gradient(225deg, #5a3e23, #5a2633, #325239, #1c3545);
}

.nameofcourse {
    position: absolute; 
    left: 40px;
    top: 40px;
    color: black;
}

.blockofcourse:nth-of-type(even) .nameofcourse {
    color: white;
}


.title {
    font-size: 30px;
    font-weight: bold;
}


