.courseTestsBlock{
  margin-bottom: 20pt;
}

.courseTestsBlock > h2{
    font-family: 'bold';
    font-size: 25   pt;
    margin-bottom: 10pt;
  }

  .arrowButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .arrowButton img {
    width: 50px; /* Ширина изображения */
  }