@font-face {
    font-family: 'bold';
    src: url(../fonts/ZenMaruGothic-Bold.ttf);
}

@font-face {
    font-family: 'medium';
    src: url(../fonts/ZenMaruGothic-Medium.ttf);
}

@font-face {
    font-family: 'regular';
    src: url(../fonts/ZenMaruGothic-Regular.ttf);
}

@font-face {
    font-family: 'semi-light';
    src: url(../fonts/ZenMaruGothic-Light.ttf);
}