.mainPageLeft {
    width: 60%;
    background-color: red;
}

.mainPageRight {
    width: 40%;
    background-color: blue;
}

.testComplete {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.titleHead {
    display: flex;
    justify-content: space-between;
}
 
.testBlocksList {
    display: flex;
    justify-content: space-around;
}


.testBlock {
    width: 30%;
    background-color: lightblue;
    height: 150px;
}
