.area{
    display: flex;
    justify-content: space-between;
}

.mainPageLeft {
    width: 60%;
    
}

.mainPageRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.testComplete {
    display: flex;
    flex-direction: column;
    margin-bottom: 50pt;
}

.titleHead {
    display: flex;
    justify-content: space-between;
}
 
.testComplete-list {
    display: flex;
    
}

.testComplete-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10pt;
}

.testComplete-title > h1{
    font-family: 'bold';
    font-size: 30pt;
}


.testBlock {
    
    background-color: white;
    height: 150px;
}

.testComplete-title button{
    border: none;
}

.mainPageLeft-missed > h2{
    font-family: 'bold';
    font-size: 20pt;
    margin-bottom: 20pt;
}