.progress {
    display: flex;
    flex-direction: column;
}

.progress > h1{
    font-family: 'bold';
    font-size: 30pt;
    margin-bottom: 20pt;
}

.progress-change select{
    border: none;
    background-color: white;
    padding: 10pt;
    border-radius: 10pt;
    color: #A64AC9;
    font-family: 'medium';
    font-size: 15pt;
}