.tests > h1{
    font-family: 'bold';
    font-size: 30pt;
    margin-bottom: 30pt;
}

.tests-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.testShortCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15pt;
    padding: 15pt;
    font-size: 10pt;
    width: 20dvh;
    
}

.testShortCard h2{
    color: white;
    font-size: 15pt;
    font-family: 'bold';
    margin-bottom: 3dvh;
    width: 20dvh;
    height: auto;
    font-family: 'bold';
}

.testShortCard a{
    font-size: 12pt ;
    margin-bottom: 3pt;
    color: white;
    font-family: 'regular';
    font-family: 'bold';
}

.shortTestBlock{
    display: flex;
    flex-direction: column;
    height: 45dvb;
    justify-content: space-between;
    

}

.shortTestBlock h1{
    font-size: 40pt;
    
}

.shortTestBlock img{
    height: 5dvb;
}

.testBlock{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5dvh;
    justify-content: space-between;
    padding: 10pt 20pt;
  }

  .testBlock img{
    margin-left: 25pt;
  }