.testShortCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15pt;
    padding: 15pt;
    font-size: 10pt;
    margin-right: 20pt;
    
}

.testShortCard h2{
    color: white;
    font-size: 15pt;
    font-family: 'bold';
    margin-bottom: 3dvh;
    width: 20dvh;
    height: auto;
    font-family: 'bold';
}

.testShortCard a{
    font-size: 12pt ;
    margin-bottom: 3pt;
    color: white;
    font-family: 'regular';
    font-family: 'bold';
}

.shortTestBlock{
    display: flex;
    flex-direction: column;
    height: 45dvb;
    justify-content: space-between;
    

}